@font-face {
    font-family: 'Syne-Extra';
    src: url('../fonts/syne-extra.woff2') format('woff2'),
         url('../fonts/syne-extra.woff') format('woff');
}

@font-face {
    font-family: 'Zangezi';
    src: url('../fonts/zangezi03.woff') format('woff'), 
         url('../fonts/zangezi03.woff2') format('woff2');
}


@font-face {
    font-family: 'GT America Light';
    src: url('../fonts/GT-America-Standard-Light.woff') format('woff'), 
         url('../fonts/GT-America-Standard-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'GT America Extended Bold';
    src: url('../fonts/GT-America-Extended-Bold.woff') format('woff'), 
         url('../fonts/GT-America-Extended-Bold.woff2') format('woff2');
}






