body {
    background-color: #212121;
}

a:hover { 
    text-decoration: none;
    border-bottom: none;
}
.retina {
    max-width: 400px;
    width: 70%;

}

.retina-med {
    width: 75%;
    max-width: 500px;
}

.retina-big {
    width: 85%;
    max-width: 850px;
}

.misc-bg {
    width: 100vw;
    position:  fixed;
    z-index: -1;
    top: -5%;
    text-align: justify;

}
.bg-text {
    color: #fff;
    opacity: 0.1;
    font-weight: light;
    font-size: 4vw ;
    font-family: 'Zangezi';
    text-transform: uppercase;
    z-index: 0;
    width: 110vw;
    margin: 0 -5vw;

}



.misc-section {
    z-index: 5;
    padding: 0 0 12% 0;
    text-align: center;
}

.misc-section h1 {
    font-family: 'Syne-Extra';
    color: #fff;
    width: 100%;
    text-transform: none;
    padding: 10% 0 0 0;
}

.misc-section h2 { 
    font-family: 'GT America Extended Bold';
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    line-height:1;
    padding: 0;
}



.misc-title p { 
    font-family: 'GT America Light';
    color: #fff;
}


.misc-title {
    padding: 12% 0 2.5% 0;
}

.misc-wrapper {
    width: 100vw;
}

img {    transition: transform .5s;
}

img:hover {
    opacity: 0.8;
    transform: rotate(1deg);
    transition: transform .25s;
  
}

.img-offset { 
    margin-top: -6%;
}