body {
    background-color: #000;
}

a:hover { 
    text-decoration: none;
    border-bottom: none;
}

.misc-bg {
    width: 100vw;
    position:  fixed;
    z-index: -1;
    top: -5%;
    text-align: justify;

}

.bg-text {
    color: #fff;
    opacity: 0.1;
    font-weight: light;
    font-size: 4vw ;
    font-family: 'Zangezi';
    text-transform: uppercase;
    z-index: 0;
    width: 110vw;
    margin: 0 -5vw;

}

.misc-section {
    z-index: 5;
    padding: 0 5% 2.5% 5%;
    text-align: left;
}

.misc-hero {
   margin-top: 15%;
}

.misc-section .misc-content { 
    margin-bottom: 6%;
}

.misc-container {
    display: flex;
}

.misc-container, .child{
margin: 1% 6% 0 0 ;

}



.misc-video{ 
    max-width: 320px; 
}

.misc-tagline {
    color: white;
}

.misc-tagline h3 {    
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -0.1px;
    padding: 0;
    margin: 25px 0 4px 0;
}


/*  TYPE */

.misc-hero h1 {
    font-family: 'Syne-Extra';
    color: #fff;
    width: 100%;
    text-transform: none;
    text-align: left;
    margin: 0;
}

.misc-section h2 { 
    font-family: 'GT America Extended Bold';
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    line-height:1;
    padding: 0;
    text-align: left;

}

.misc-title p { 
    font-family: 'GT America Light';
    color: #fff;
}

.misc-title {
    padding: 2.5% 0 1.5% 0;
}


/* Image sizing */

.misc-content img { 
    max-width: 23%;
    padding: 1% 1% 1% 0;
    
}

.misc-content .large {
    max-width: 40%;
}

.zine img {
    max-width: 17%;
}

.zine .alt {
    max-width: 24% ;
}
.poster img {

}

  
   /* Mobile styles */

   @media (max-width: 640px) {

    .misc-hero {
        margin-top: 50%;
     }


    .misc-section  { 
        margin-bottom: 15%;
    }
    
    .misc-content img { 
        max-width: 48%;
        padding: 1% 1% 1% 0;
        
    }
    
    .misc-content .large {
        max-width: 100%;
    }

   
    
    .zine img {
        max-width: 30%;
    }
    
    .zine .alt {
        max-width: 50% ;
    }


   }