  .the-grid h2 {
    color: #00E8DA;
    mix-blend-mode: difference;
  }
  .the-grid span {
    color: #FF0000;
    mix-blend-mode: difference;
  }
  .the-grid {
    background-color: #0DD59F;  
  }
  

  .hmht h2 {
    color: #CAE51A;
    mix-blend-mode: difference;
  }
  .hmht span {
    color: #FF8C22;
    mix-blend-mode: difference;
  }
  .hmht {
    background-color: #83E9FF;  
  }
  

  .pedal h2 {
    color: #FFEDC1;

  }
  .pedal span {
    color: #6D1212;
    mix-blend-mode: difference;
  }
  .pedal {
    background-color: #FF1D53;
  }
  


  .local-hero h2 {
    color: #FF5959;
    
  }
  .local-hero span {
    color: #8A43FF;
    mix-blend-mode: difference;
  }
  
  .local-hero {
    background-color:  #FDFF83;
  }


  .salon63 h2 {
    color: #FFFFFF;
    
  }
  .salon63 span {
    color: #FF005C;
    mix-blend-mode: difference;
  }
  
  .salon63 {
    background-color:  #212121;
  }

  .farfetch h2 {
    color: #3D0062;
    
  }
  .farfetch span {
    color: #FF005C;
    mix-blend-mode: difference;
  }
  
  .farfetch {
    background-color:  #FFEAEA;
  }
 