 /*  Hover States */
 .projects:hover {
    background-color: #222;
}
.projects:hover h2 {
    color: #fff;
}
.projects:hover span {
    color: #fff;
}



/*  Case Study  */



/*  INFO BAR */

.project-info-wrapper {
  float: left;
  width: 25.5vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 1.5%;
  background-color: white;
  color: black;
 
}

.project-info-wrapper nav {
  position: relative;
}

.project-info-wrapper nav a{
  color: black;
}

.project-info-wrapper nav a:hover{
  color: black;
  border-bottom: 1px solid #000;
}

.project-intro {
  margin-top: 15vh;
}

.project-info-wrapper h1{
  font-size: 36px;


  padding: 0 0 16px 0;
  margin: 0;
  line-height: 1;
  width: auto;
  text-align: left;
}


.project-info-wrapper p{
  font-size: 15px;
}

.project-info-content {
  padding: 40px;
}

.project-link-wrapper {
  margin-top: 7.5vh;
  ;
}

.project-link-wrapper p {
  margin-bottom: 12px;
}

.project-link-wrapper .project-link {
  padding: 8px 14px;
  font-size: 21px;
  font-family: 'GT America Extended Bold', sans-serif;
  color: white;
  background-color: black;
  width: auto;
  display: inline-flex;
}

.project-link-wrapper .project-link:hover {
  color: black;
  background-color: white;
}

.project-collaborators {
  margin-top: 15vh;
}

.project-collaborators h2{
  color: #000;
  font-family: 'GT America Extended Bold', sans-serif;
  font-size:15px;
  text-align: left;

  line-height: 1;
  margin-bottom: 8px;
}

.project-collaborators a {
  color: #000;
}

/*  marqee bar */

.project-banner {


  width: 1.5vw;
  overflow: hidden;
  height: 100vh;
  background-color: red;
  
  writing-mode: vertical-rl;
  text-orientation: mixed;

  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
  font-size:  1vw;
  white-space: nowrap	; 
  line-height: 1.5vw;

  font-family: 'Syne-Extra', sans-serif;
}

/* CASE STUDY CONTENT */

.project-content {
  overflow: scroll;
  float: right;
  width: 73vw;
  background-color: black;
  color: white;
}
.cover-img {
  width: 100%;
  background-size: cover;
}


   /* Mobile styles */

   @media (max-width: 640px) { 



   }













/* Projects Styles */
 
 .the-grid h2 {
    color: #00E8DA;
    mix-blend-mode: difference;
  }
  .the-grid span {
    color: #FF0000;
    mix-blend-mode: difference;
  }
  .the-grid {
    background-color: #0DD59F;  
  }
  

  .hmht h2 {
    color: #CAE51A;
    mix-blend-mode: difference;
  }
  .hmht span {
    color: #FF8C22;
    mix-blend-mode: difference;
  }
  .hmht {
    background-color: #83E9FF;  
  }
  

  .pedal h2, .pedal h1 {
    color: #FFEDC1;
  }

  .pedal span {
    color: #6D1212;
    mix-blend-mode: difference;
  }

  .pedal {
    background-color: #FF1D53;
  }


  .local-hero h2 {
    color: #FF5959;
    
  }
  .local-hero span {
    color: #8A43FF;
    mix-blend-mode: difference;
  }
  
  .local-hero {
    background-color:  #FDFF83;
  }


  .salon63 h2 {
    color: #FFFFFF;
    
  }
  .salon63 span {
    color: #FF005C;
    mix-blend-mode: difference;
  }
  
  .salon63 {
    background-color:  #210035;
  }

  .farfetch h2 {
    color: #3D0062;
    
  }
  .farfetch span {
    color: #FF005C;
    mix-blend-mode: difference;
  }
  
  .farfetch {
    background-color:  #FFEAEA;
  }
 

  .thehogan h2 {
    color: #000;
    
  }
  .thehogan span {
    color: #78DA44;
    mix-blend-mode: difference;
  }
  
  .thehogan {
    background-color:  #fff;
  }
 